#navbar-iframe { display:block }
#navbar {
height: 0px;
visibility: hidden;
display: none;
}
/* ---( page defaults )--- */
body {
margin: 0;
padding: 0;
font-size: small;
text-align: center;
color: #333333;
background: #c0d981;
}
blockquote {
margin-top: 0;
margin-right: 0;
margin-bottom: 0;
margin-left: 30px;
padding-top: 10px;
padding-right: 0;
padding-bottom: 0;
padding-left: 20px;
font-size: 88%;
line-height: 1.5em;
color: #666;
background: url(http://www.blogblog.com/tictac/quotes.gif) no-repeat top left;
}
blockquote p {
margin-top: 0;
}
abbr, acronym {
cursor: help;
font-style: normal;
border-bottom: 1px dotted;
}
code {
color: #666;
}
hr {
display: none;
}
/* unordered list style */
ul {
list-style: none;
margin-left: 10px;
padding: 0;
}
li {
list-style: none;
padding-left: 14px;
margin-bottom: 3px;
background: url(http://www.blogblog.com/tictac/tictac_orange.gif) no-repeat left 6px;
}
/* links */
a:link {
color: #6699cc;
}
a:visited {
color: #666699;
}
a:hover {
color: #693;
}
a:active {
color: #cc3333;
text-decoration: none;
}
/* ---( layout structure )---*/
#outer-wrapper {
width: 870px;
margin: 0px auto 0;
text-align: left;
font: normal normal 100% Verdana, sans-serif;
background: url(http://img213.imageshack.us/img213/5726/bttile.gif) repeat-y;
}
#content-wrapper {
margin-left: 42px; /* to avoid the border image */
width: 765px;
}
#main {
float: left;
width: 470px;
margin-top: 20px;
margin-right: 0;
margin-bottom: 0;
margin-left: 0;
padding-top: 0;
padding-right: 0;
padding-bottom: 0;
padding-left: 1em;
line-height: 1.5em;
word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
overflow: hidden;     /* fix for long non-text content breaking IE sidebar float */
}
#sidebar {
float: right;
width: 260px;
padding-top: 5px;
padding-right: 0px;
padding-bottom: 0;
padding-left: 0;
font-size: 85%;
line-height: 1.4em;
color: #999999;
background: url(http://www.blogblog.com/tictac/sidebar_bg.gif) no-repeat left top;
word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
overflow: hidden;     /* fix for long non-text content breaking IE sidebar float */
}
/* ---( header and site name )--- */
#header-wrapper {
margin: 0;
padding: 0;
font: normal bold 100% 'Comic Sans MS','TSCu Comic',fantasy;
background: #c0d981 url(http://img837.imageshack.us/img837/4909/bttopdiv.png) no-repeat left top;
}
#header {
margin: 0;
padding-top: 25px;
padding-right: 100px;
padding-bottom: 25px;
padding-left: 160px;
color: #333333;
background: url(http://img691.imageshack.us/img691/6493/bttoph1.gif) no-repeat bottom left;
}
#header h1 {
font-size: 360%;
padding-left: 40px;
text-shadow: #81A75B 2px 2px 2px;
}
#header h1 a {
text-decoration: none;
color: #333333;
}
#header p {
color: #333333;
padding-left: 50px;
}
#header h1 a:hover {
color: #eee;
}
/* ---( main column )--- */
h2.date-header {
margin-top: 0;
padding-left: 14px;
font-size: 90%;
color: #ff9933;
background: url(http://www.blogblog.com/tictac/date_icon.gif) no-repeat left 50%;
}
.post h3 {
margin-top: 0;
font: normal bold 130% 'Lucida Grande','Trebuchet MS';
letter-spacing: -1px;
color: #ff6633;
}
.post {
margin-top: 0;
margin-right: 0;
margin-bottom: 1.5em;
margin-left: 0;
padding-top: 0;
padding-right: 0;
padding-bottom: 1.5em;
padding-left: 14px;
border-bottom: 1px solid #ddd;
}
.post h3 a,
.post h3 a:visited {
color: #ff6633;
text-decoration: none;
}
.post-footer {
margin: 0;
padding-top: 0;
padding-right: 0;
padding-bottom: 0;
padding-left: 14px;
font-size: 88%;
color: #6699cc;
background: url(http://www.blogblog.com/tictac/tictac_grey.gif) no-repeat left 8px;
}
.post img {
padding: 6px;
border: none;
}
.feed-links {
clear: both;
line-height: 2.5em;
}
#blog-pager-newer-link {
float: left;
}
#blog-pager-older-link {
float: right;
}
#blog-pager {
text-align: center;
}
/* comment styles */
#comments {
padding-top: 10px;
font-size: 85%;
line-height: 1.5em;
color: #666;
background: #eee url(http://www.blogblog.com/tictac/comments_curve.gif) no-repeat top left;
}
#comments h4 {
margin-top: 20px;
margin-right: 0;
margin-bottom: 15px;
margin-left: 0;
padding-top: 8px;
padding-right: 0;
padding-bottom: 0;
padding-left: 40px;
font-family: "Lucida Grande", "Trebuchet MS";
font-size: 130%;
color: #666;
background: url(http://www.blogblog.com/tictac/bubbles.gif) no-repeat 10px 0;
height: 29px !important; /* for most browsers */
height /**/:37px; /* for IE5/Win */
}
#comments ul {
margin-left: 0;
}
#comments li {
background: none;
padding-left: 0;
}
.comment-body {
padding-top: 0;
padding-right: 10px;
padding-bottom: 0;
padding-left: 25px;
background: url(http://www.blogblog.com/tictac/tictac_orange.gif) no-repeat 10px 5px;
}
.comment-body p {
margin-bottom: 0;
}
.comment-author {
margin-top: 4px;
margin-right: 0;
margin-bottom: 0;
margin-left: 0;
padding-top: 0;
padding-right: 10px;
padding-bottom: 0;
padding-left: 60px;
color: #999;
background: url(http://www.blogblog.com/tictac/comment_arrow.gif) no-repeat 44px 2px;
}
.comment-footer {
border-bottom: 1px solid #ddd;
padding-bottom: 1em;
}
.deleted-comment {
font-style:italic;
color:gray;
}
/* ---( sidebar )--- */
.sidebar h2 {
margin-top: 0;
margin-right: 0;
margin-bottom: 0;
margin-left: 0;
padding-top: 15px;
padding-right: 0;
padding-bottom: 15px;
padding-left: 50px;
font: normal bold 200% 'Comic Sans MS','TSCu Comic',fantasy;
color: #666666;
height: 32px;
background: url(http://img683.imageshack.us/img683/849/sidebarbullet.gif) no-repeat center left;
height: 32px !important; /* for most browsers */
height /**/:57px; /* for IE5/Win */
}
.sidebar .widget {
margin: 0;
padding-top: 0;
padding-right: 0;
padding-bottom: 10px;
padding-left: 10px;
border-bottom: 1px solid #ddd;
}
.sidebar li {
background: url(http://www.blogblog.com/tictac/tictac_green.gif) no-repeat left 5px;
}
.profile-textblock {
clear: both;
margin-left: 0;
}
.profile-img {
float: left;
margin-top: 0;
margin-right: 5px;
margin-bottom: 5px;
margin-left: 0;
border: 1px solid #ddd;
padding: 4px;
}
/* ---( footer )--- */
.clear { /* to fix IE6 padding-top issue */
clear: both;
}
#footer-wrapper {
margin: 0;
padding-top: 20px;
padding-right: 0;
padding-bottom: 0;
padding-left: 0;
font-size: 85%;
color: #ddd;
background: url(http://img840.imageshack.us/img840/1401/btbottomsill.gif) no-repeat top left;
}
#footer {
margin: 0;
padding-top: 20px;
padding-right: 320px;
padding-bottom: 50px;
padding-left: 95px;
color: #000;
background: url(http://img683.imageshack.us/img683/5108/btbottomsash.gif) no-repeat bottom left;
}
/** Page structure tweaks for layout editor wireframe */
body#layout #outer-wrapper,
body#layout #main,
body#layout #sidebar {
padding-top: 0;
margin-top: 0;
}
body#layout #outer-wrapper,
body#layout #content-wrapper {
width: 740px;
}
body#layout #sidebar {
margin-right: 0;
margin-bottom: 1em;
}
body#layout #header,
body#layout #footer,
body#layout #main {
padding: 0;
}
body#layout #content-wrapper {
margin: 0px;
}
